In [1]:
Name = 'Anamul Hoque Adar'

In [2]:
print(Name)

Anamul Hoque Adar

In [3]:
Name1 = 'Anamul Hoque'
Name2 = 'Adar'
print(Name1+' '+Name2)

Anamul Hoque Adar

In [4]:
10+20-5+(10/2)

30.0

In [5]:
10+20-5+5

30

In [6]:
30-10

20

In [7]:
x = input('Enter a num')

Enter a num10

In [8]:
type(x)

str

In [9]:
name = ['Habib','Wadid','Masum']

In [15]:
name.append(Adar)

NameError: name 'Adar' is not defined

In [14]:
print(name)

['Habib', 'Wadid', 'Masum', ['Adar'], 'Adar']

In [16]:
name.insert(2, 'Faruk')

In [17]:
name

['Habib', 'Wadid', 'Faruk', 'Masum', ['Adar'], 'Adar']

In [18]:
name.pop()

'Adar'

In [19]:
name

['Habib', 'Wadid', 'Faruk', 'Masum', ['Adar']]

In [20]:
del name

In [21]:
Emp = {'Name':['Jibon','Asif','Rakib','Shiraj','Abir'],
       'Age':[20, 10, 15, 22, 30]}

In [23]:
Emp

{'Name': ['Jibon', 'Asif', 'Rakib', 'Shiraj', 'Abir'],
 'Age': [20, 10, 15, 22, 30]}

In [24]:
import pandas as pd
EmpD = pd.DataFrame(Emp)

In [63]:
EmpD

     Name  Age
0   Jibon   20
1    Asif   10
2   Rakib   15
3  Shiraj   22
4    Abir   30

In [35]:
for name in EmpD['Name']:
    print(name)

Jibon
Asif
Rakib
Shiraj
Abir

In [45]:
x = -5
if x>=0:
    print('Condition True')
elif x==0:
    print('Condition Unmatched')
else:
    print('Finished')

Finished

In [50]:
x= 10
while(x <= 20):
    print(x)
    x = x+1

10
11
12
13
14
15
16
17
18
19
20

In [60]:
for i in range(10, 20,2):
    print(i)

10
12
14
16
18

In [61]:
i

18

In [62]:
name = ['Habib','Wadid','Masum']

In [68]:
def Emp(name):
    fil = (EmpD
           .filter(['Name','Age'])
           .query(['Name']==name))
    return fil

In [70]:
(EmpD
 .filter(['Name','Age'])
 .query(['Name']=='Jibon')

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_21808/4261185632.py, line 3)

In [73]:
y = 3
x = lambda a:a*y

In [75]:
print(x(2))

6

In [77]:
def sums(n):
    res = lambda a: a*n
    return res

In [81]:
x = sums(10)
print(x(2))

20

In [85]:
for i in range(3):
    pas  = input('Enter your password')
    if pas == '123':
        print('Access granted')
        break    
    else:
        print('password not matched')
    

else:
    print('Try again letter!!')

Enter your password123
Access granted

In [86]:
import numpy as np

In [87]:
x = np.array([10, 20, 30])

In [88]:
print(x)

[10 20 30]

In [97]:
lis = [10, 20, 30]

sum(lis)
max(lis)
min(lis)

10

In [99]:
lis1 = np.array([10, 20, 30])

sum(lis1)

60

In [103]:
for i in lis1:
    print(np.sum(i))

10
20
30

In [105]:
res = sum(lis1)

In [106]:
res

60